html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

#uno {
  border-top: 14px solid orange;
  border-left: 14px solid orange;
  border-right: 14px solid orange;
  border-bottom: 14px solid black;
}

#due {
  border-top: 14px solid lime;
  border-left: 14px solid lime;
  border-right: 14px solid lime;
  border-bottom: 14px solid black;
}

.cerchio {
  width: 840px;
  height: 840px;
  border-radius: 840px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  animation: mymove_circle 8s infinite;
  animation-timing-function: linear;

}

@keyframes mymove_circle {
  0%   {width: 840px; height: 840px;}
  100% {width: 0px; height: 0px;}
}

.bordo_interno {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ff3300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangolino {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#elemento2 {
    height: 0px;
    top: 0%;
    left: 50%;
    position: absolute;
    /*background-color: orange;*/
    border-left: 25px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 40px solid white;
    border-right: 25px solid transparent;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}

.sinistra {
    position: fixed;
    width: 50vw;
    height: 99vh;
    touch-action: none;
}

.destra {
    position: fixed;
    width: 50vw;
    height: 99vh;
    left: 50vw;
    touch-action: none;
}
