html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.mattone {
  background-color: red;
  width: 100px;
  height: 30px;
  position: absolute;
  transform: translate(-50%, -50%);  
  animation: mymove_mattone 6s infinite;
  animation-timing-function: linear;
}

@keyframes mymove_mattone {
  0%   {top: -25px;}
  100% {top: 105vh;}
}

table {
    border-spacing: 50px;
    border-collapse: separate;
    top: 80%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

td {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
}

.sinistra {
    position: fixed;
    width: 50vw;
    height: 99vh;
    touch-action: none;
}

.destra {
    position: fixed;
    width: 50vw;
    height: 99vh;
    left: 50vw;
    touch-action: none;
}
