html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.cerchio {
  width: 1400px;
  height: 1400px;
  border-radius: 1400px;
  border: 10px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  animation: mymove_circle 4s infinite;
  animation-timing-function: linear;

}

@keyframes mymove_circle {
  0%   {width: 1400px; height: 1400px;}
  100% {width: 0px; height: 0px;}
}

.bordo_interno {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid white;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangolino {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#elemento2 {
    height: 0px;
    top: 0%;
    left: 50%;
    position: absolute;
    /*background-color: orange;*/
    border-left: 12px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 30px solid orange;
    border-right: 12px solid transparent;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}

.sinistra {
    position: fixed;
    width: 50vw;
    height: 99vh;
    touch-action: none;
}

.destra {
    position: fixed;
    width: 50vw;
    height: 99vh;
    left: 50vw;
    touch-action: none;
}
